<html>
<head>
<meta charset="ISO-8859-1">
<title>Jobiak#signup</title>
</head>
<body>

      <h2 align='center'>Jobiak SignUp Form</h2>
      <h3 align ='center'>
          <form action='signup'  method='post' modelAtrribute='user'>
           <input type="text"name="userId"><br/>
          <input type="text"name="name"><br/>
         <input type="text"name="email"><br/>
         <input type="text" name="mobile"><br/>
         
          <input type="submit"value="go">
          
          </form>
      </h3>
</body>
</html>
